<!--
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

 <script type="text/javascript" src="~/Controllers/BuildingsAjax.js"></script> 


Category:  Html.DropDownList("Categories", "          ")

Type: <select id="typeDropDown"><option value="0"></option></select>

Manufacturer: Html.DropDownList("Manufacturers", "          ") 
    -->


@model PeopleProTraining.Models.Building

<script src="Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
<script src="Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>


@{
    ViewBag.Title = "Create with Ajax";
}

<h2>Create with Ajax</h2>


@using (Ajax.BeginForm(new AjaxOptions { UpdateTargetId = "result" }))
{
    @Html.EditorFor(x => x.Title)
    @Html.ValidationMessageFor(x => x.Title)
    <input id="createajax" type="submit" value="Create" />
}

