@model IEnumerable<PeopleProTraining.Models.Building>

@{
    ViewBag.Title = "Buildings";
}

<h2>Buildings</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Title)</th>
        <th>@Html.DisplayNameFor(model => model.ID)</th>
        <th></th>
    </tr>

    @Html.DisplayForModel()

</table>
